
#botao_abrir
{
    font-family: 'Material Icons Outlined';
}

body{
    margin: 0;
}

nav
{
    display: none;
    background-color: rgb(255, 251, 0);
    flex-direction: column;
    padding-left: 1%;
}

nav a
{
    margin: 12px 0;
}



.botoes
{
    background-color: transparent;
    font-family: 'Material Icons Outlined';
    border: 0;
    width: 48px;
    height: 48px;
    font-size: 30px;
    color: black;
}

h1
{
    color: #672500;

}
p
{
    color:#161616;
  

}

button
{
    border-radius: 20px;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    background-color: #fafe42;

    color: black;

    padding: 10px;

    text-decoration: none;
}

header
{
background-color: #fafe42;
display: flex;
justify-content: space-between;
align-items: center;

}


footer

{

    background-color: #fafe42;

    text-align: center;

    padding: 10px;

    color: black;

}


.container
        {
            position: relative;
        }

        .container h2
        {
            position: absolute;
            left: 0;
            bottom: 0;
            color: #FFF;
            
        }

        .container img
        {
            opacity: 0.5;
        }